[submodule "tele-bot"]
	path = modules/tele-bot
	branch = main
	url = git@github.com:lromeraj/tele-bot.git
[submodule "modules/isbd-emu"]
	path = modules/isbd-emu
	branch = main
	url = git@github.com:lromeraj/isbd-emu.git
