[submodule "modules/tele-bot"]
	path = modules/tele-bot
	url = https://github.com/lromeraj/tele-bot.git
	branch = main
[submodule "modules/isbd-emu"]
	path = modules/isbd-emu
	url = https://github.com/lromeraj/isbd-emu.git
	branch = main
